.fotoperfil{
    margin-left: 25px;
    margin-top: 0;
    margin-bottom: 20px;
    width: 200px;
    height: 180px;
    border: 2px black solid;
}

h1 {
    margin-left: 25px;
}

h2 {
    font-size: smaller;
    font-style: italic;
    font-weight: lighter;
    margin-left: 25px;
}
.redessociales {
    width: 30px;
    height: 25px;
    margin-left: 25px;
    padding: 1px;
}

.linkGitHub {
    font-size: small;
}

.linkLinkedin{
    font-size: small;
}

.correo {
    font-size: small;
}